@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36.0 71.4% 94.5%;
    --foreground: 29.0 40.3% 15.1%;
    --card: 45.0 100.0% 99.2%;
    --card-foreground: 29.0 40.3% 15.1%;
    --popover: 45.0 100.0% 99.2%;
    --popover-foreground: 29.0 40.3% 15.1%;
    --primary: 23.2 53.7% 50.0%;
    --primary-foreground: 36.0 100.0% 98.0%;
    --secondary: 37.5 51.6% 87.8%;
    --secondary-foreground: 29.0 40.3% 15.1%;
    --muted: 37.2 54.7% 89.6%;
    --muted-foreground: 32.3 16.5% 46.5%;
    --accent: 24.7 63.0% 89.4%;
    --accent-foreground: 29.0 40.3% 15.1%;
    --destructive: 11.1 60.5% 43.7%;
    --destructive-foreground: 36.0 100.0% 98.0%;
    --border: 34.5 44.4% 82.4%;
    --input: 34.5 44.4% 82.4%;
    --ring: 23.2 53.7% 50.0%;
    --radius: 0.75rem;

    --success: 92.1 11.2% 49.0%;
    --success-foreground: 36.0 100.0% 98.0%;
    --success-soft: 86.7 20.0% 91.2%;
    --warning: 39.7 56.3% 51.6%;
    --warning-soft: 40.0 66.7% 89.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground bg-background;
  }
}
