VITE_BACKEND_URL=http://localhost:3001

VITE_API_BASE_URL=https://your-n8n-instance/webhook/bread-orders
VITE_UPDATE_STATUS_URL=https://your-n8n-instance/webhook/bakery/orders/status
VITE_ADMIN_ORDER_URL=https://your-n8n-instance/webhook/admin/bakery-order
VITE_DELETE_ORDER_URL=https://your-n8n-instance/webhook/bakery/orders
VITE_ARCHIVE_ORDER_URL=https://your-n8n-instance/webhook/bakery/orders/archive
